.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

a {
    text-decoration: none;
}

.invoices {
    margin: 20px auto;
    width: 50%;
}

.invoices a {
    padding: 10px;
    margin: 20px;
    display: block;
    background-color: aqua;
    color: white;
    font-weight: 600;
}

.invoice {
    text-align: center;
    padding: 20px;
}

.invoice>h1 {
    font-size: 1.5rem;
    color: aqua;
}

small {
    font-size: 1rem;
    color: coral;
}

.invoice>span {
    display: inline-block;
    margin: 10px 20px;
}